.setup-form {
  width: 100%;
  background: #d2dae2;
  border-radius: 10px;
  margin: 20px 0;
  color: #111;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3),
    0 4px 6px -2px rgba(0, 0, 0, 0.15);
}

.setup-form h2 {
  margin-top: 0;
}

.setup-form .help {
  font-size: 90%;
  text-align: center;
}
.setup-form .help a {
  color: #485460;
}
.setup-form .help a:visited {
  color: #5e4860;
}

.setup-form textarea {
  width: 100%;
  height: 250px;
  margin-top: 20px;
}
.setup-form input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 10px;
}
.setup-form input:focus {
  outline: 0;
}
.setup-form .code-wrapper {
  padding: 10px;
  background: #eee;
}
.setup-form code {
  white-space: pre-wrap;
  word-break: break-word;
}

.setup-form button {
  display: block;
  margin: 20px auto;
  width: 100%;
  background: #eee;
  color: #485460;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.setup-form button:active {
  color: #eee;
  background: #133c55;
}
