.card {
  width: 100%;
  background: #d2dae2;
  border-radius: 10px;
  color: #111;
}
.card.used {
  background: #808e9b;
  color: #333;
}

.card .buttons {
  width: 100%;
  display: flex;
}
.card .buttons button {
  flex-grow: 1;
  height: 50px;
  flex-basis: 60px;
  border: 0;
  border-radius: 10px 0 0 0;
  background: #485460;
  color: #eee;
  margin-right: 1px;
}
.card .buttons button:nth-child(2) {
  border-radius: 0 10px 0 0;
  margin-right: 0px;
  margin-left: 1px;
}

.card .data {
  padding: 20px;
  text-align: center;
}

.card .data img,
.card .data .card-number,
.card .data .card-pin {
  width: 100%;
  display: block;
}

.card .data img {
  margin-bottom: 20px;
}

.card .auth h3 {
  text-align:center;
}
.card .auth .input {
  height: 50px;
  display: flex;
  align-items: center;
  border-top: 1px solid #333;
}
.card .auth .input .chars {
  flex: 4;
  text-align: center;
  line-height: 50px;
  display: flex;
  
  justify-content: center;
}
.card .auth .input .chars span {
  flex: 1;
}
.card .auth .input button.submit {
  background: #485460;
  color: #eee;
}
.card .auth .input button.submit:active {
  color: #eee;
  background: #133c55;
}
.card .auth button {
  width: 20%;
  height: 40px;
  border: 2px solid #d2dae2;
  transition: all 0.3s ease 0s;
}
.card .auth button:active {
  color: #eee;
  background: #133c55;
}
