.app {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.notification {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #fde073;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  box-shadow: 0 0 5px black;
  animation: slideDown 10s 1s 1 ease forwards;
  transform: translateY(-50px);
}

@keyframes slideDown {
  0%,
  5% {
    transform: translateY(-50px);
  }
  5%,
  30% {
    transform: translateY(0px);
  }
  70%,
  100% {
    transform: translateY(-50px);
  }
}
